/* General Styles */
:root {
    --primary-color: #6200EA;
    --secondary-color: #3700B3;
    --background-color: #1f1f1f;
    --text-color: #E0E0E0;
    --border-color: #555;
    --hover-color: #888;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: auto;
    padding: 50px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fields-container,
.photo-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#webcam,
#capturedImage {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #242424;
    color: var(--text-color);
}

label {
    width: 100%;
    padding: 0px;
    margin-bottom: 50px;
    box-sizing: border-box;
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

/* Table Styles */
.table-container {
    width: 95%;
    max-height: 90%;
    overflow-y: auto;
}

table {
    width: 95%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table, th, td {
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

thead th {
    position: sticky;
    top: 0;
    background-color: #242424;
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    border-collapse: separate;
    background-color: #242424;
}

tr:hover {
    background-color: #2e2e2e;
    transition: background-color 0.5s ease;
}

/* Error Styles */
.error-container {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.error-container h1 {
    color: #e74c3c;
    font-size: 3.8em;
    margin-bottom: 0px;
}

.error-container p {
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-top: 5px;
}

.error-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.error-container a:hover {
    background-color: var(--secondary-color);
}

/* Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
    transition: background-color 0.5s ease;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) var(--background-color);
}

header {
    background-color: #162e47; /* Blue color */
    color: #fff; /* White text */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header stays on top */
    width: 100%; /* Ensure the header spans the full width */
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%; /* Take up the full width of the header */
    justify-content: space-between; /* Push the title and navigation apart */
}

header h1 {
    margin: 20px;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav li {
    margin: 0;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1); /* Slight transparency to the black color */
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
